name: Deploy slides

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install -g reveal-md
      - run: |
          mkdir -p public
          cp obsidian-theme.css public/
          reveal-md index.md --static public
          reveal-md "Part 1 - Introduction & Setup.md" --static public/part1
          reveal-md "Part 2 - Basic Commands & First Repository.md" --static public/part2
          reveal-md "Part 3 - Remote Repositories & Collaboration.md" --static public/part3 --slide-number
          reveal-md "Part 4 - Branches.md" --static public/part4 --slide-number
          reveal-md "Part 5 - Virtual Environments.md" --static public/part5 --slide-number
          reveal-md "Part 6 - Docstrings.md" --static public/part6 --slide-number
          reveal-md "Part 7 - Type Hints.md" --static public/part7 --slide-number
          reveal-md "Part 8 - Unit_testing.md" --static public/part7 --slide-number
          reveal-md "Part 9 - Pytest.md" --static public/part7 --slide-number
          
      - uses: actions/upload-pages-artifact@v3
        with:
          path: public
      - uses: actions/deploy-pages@v4